@media (max-width: 1024px) {
    .menu {
        &__item {
            padding: 0 8px;
            border: none;
            &:before {
                left: 0;
            }
            &:after {
                right: 0; 
            }
        }
        
    }
    .header {
        &__wrapper {
            justify-content: space-around;
        }
        &__advantages {
            order: 2;
        }
        &__phone {
            order: 1;
            margin-left: 5px;
        }
        &__advantages {
            width: 250px;
            flex-direction: column;
            justify-content: center;
        }
        &__advantages-item {
            justify-content: flex-start;
            width: 220px;
            margin: 5px 0;
        }
    }
    .stages {
        &__title {
            font-size: 24px;
            line-height: 24px;
            &:before, &:after {
                left: calc(50% - 330px);
                width: 100px;
            }
            &:after {
                left: auto;
                right: calc(50% - 330px);
            }
        }
        &__wrapper {
            justify-content: space-around;
        }
    }
}

@media (max-width: 768px) {
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        &__item {
           margin: 5px;
        }
    }
    .header {
        &__advantages {
            margin: 15px 10px;
        }
    }
    .promo {
        &__wrapper {
            top: 70px;
            right: 50%;
            transform: translateX(50%);
        }
        &__slogan {
            font-size: 28px;
            line-height: 22px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;
            span {
                font-size: 22px;
                line-height: 38px;
            }
        }
        &__title {
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
            color: #ffffff;
            margin: 14px 0 40px;
        }
    }
    .form-email {
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        &__mail-wrapper {
            margin: 0 10px 10px;
        }
        &__mail {
            width: 270px;
        }
    }
    .stages {
        &__title {
            font-size: 18px;
            line-height: 24px;
            &:before, &:after {
                display: none;
            }
        }
    }
}