@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "libs/owl.carousel.min";

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    max-width: 1020px;
    padding: 0 2px;
    margin: 0 auto;
}

@import "blocks/main-menu";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/carousel";
@import "blocks/promo";
@import "blocks/forms";

@import "base/media";
