.carousel {
    &__wrapper {
        max-width: 1920px;
        margin: 0 auto;
        height: 539px;
        border-top: 5px solid #ffd55c;
        border-bottom: 5px solid #ffd55c;
    }
    &__item {
        position: relative;
        &_bg1{
            width: 100%;
            height: 529px;
            background: url('../img/slide.jpg') center (center/cover) no-repeat;
        }
        &_bg2{
            width: 100%;
            height: 529px;
            background: url('../img/slide2.jpg') center (center/cover) no-repeat;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 47px;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot {
            margin: 0 3px;
            width: 16px;
            height: 16px;
            background-color: #fff;
            border: 3px solid #fff;
            border-radius: 100%;
        }
        .active {
            border: 3px solid #fff;
            background-color: #913d88;
        }
    }
}